Repository bounswe/bounswe2020group4, pull requests merged in 2020-11, with the labels that each got.

#143 Sign up and sign in pages - UI
  web/package-lock.json
  web/package.json
  web/src/App.js
  web/src/logo-buyo.png
  web/src/pages/SignIn.css
  web/src/pages/SignIn.js
  web/src/pages/SignUp.js
Labels: Frontend

#155 Android dev product detail
  android/Buyo/.idea/compiler.xml
  android/Buyo/.idea/gradle.xml
  android/Buyo/.idea/jarRepositories.xml
  android/Buyo/.idea/misc.xml
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/FragmentsBuilderModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/ExampleFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductDetailCommentsFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductDetailContentFragment.kt
  android/Buyo/app/src/main/res/layout/fragment_example.xml
  android/Buyo/app/src/main/res/layout/fragment_product_detail_comments.xml
  android/Buyo/app/src/main/res/layout/fragment_product_detail_content.xml
  android/Buyo/app/src/main/res/values/colors.xml
  android/Buyo/app/src/main/res/values/strings.xml
Labels: Android, Priority: High

#156 Android dev product list
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/FragmentsBuilderModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/ExampleFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/Product.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/ProductList.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/ProductListAdapter.kt
  android/Buyo/app/src/main/res/layout/fragment_example.xml
  android/Buyo/app/src/main/res/layout/fragment_product_list.xml
  android/Buyo/app/src/main/res/layout/item_product_list_recycler_view.xml
  android/Buyo/app/src/main/res/values/strings.xml
  android/Buyo/app/src/main/res/values/styles.xml
Labels: Android, Priority: High

#160 #153 endpoint implementation
  Catalog manager refactor notes.pdf
  backend/product_service/.dockerignore
  backend/product_service/.gitignore
  backend/product_service/Dockerfile
  backend/product_service/db/product.js
  backend/product_service/docker-compose.yml
  backend/product_service/index.js
  backend/product_service/mock-product-data/clothing.json
  backend/product_service/mock-product-data/cosmetic.json
  backend/product_service/models/counter.js
  backend/product_service/models/customer.js
  backend/product_service/models/like.js
  backend/product_service/models/product.js
  backend/product_service/models/vendor.js
  backend/product_service/package-lock.json
  backend/product_service/package.json
  backend/product_service/routes/product.js
  backend/product_service/tests/nearestVendor.spec.js
  backend/product_service/views/account.js
  backend/product_service/views/product.js
  backend/product_service/views/wishlist.js
Labels: Backend, Coding, Effort: High, Priority: Critical, Status: Completed, Task: Assignment

#163 Get Product Endpoint
  backend/product_service/routes/product.js
  backend/product_service/views/product.js
Labels: Backend, Coding, Status: Needs Review

#161 Android dev login
  android/Buyo/app/src/main/AndroidManifest.xml
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/FragmentsBuilderModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/ExampleFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/homepage/HomepageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/LoginFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/navigationtabs/HomeTabContainer.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/navigationtabs/ProfileTabContainer.kt
  android/Buyo/app/src/main/res/layout/fragment_homepage.xml
  android/Buyo/app/src/main/res/layout/fragment_login.xml
  android/Buyo/app/src/main/res/mipmap-mdpi/banner_sample_1.png
  android/Buyo/app/src/main/res/mipmap-mdpi/banner_sample_2.png
  android/Buyo/app/src/main/res/mipmap-mdpi/banner_sample_3.png
  android/Buyo/app/src/main/res/values/strings.xml
  android/Buyo/app/src/main/res/values/styles.xml
Labels: Android, Status: Needs Review

#166 Android dev wishlist
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/FragmentsBuilderModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/navigationtabs/WishlistTabContainer.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/wishList/WishListAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/wishList/WishListFragment.kt
  android/Buyo/app/src/main/res/layout/fragment_wish_list.xml
  android/Buyo/app/src/main/res/layout/item_wish_list_recycler_view.xml
  android/Buyo/app/src/main/res/values/colors.xml
  android/Buyo/app/src/main/res/values/strings.xml
Labels: Android, Status: Completed

#167 Android dev categories
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/AppApplication.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/api/Api.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/base/BaseFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/CategoryRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/FragmentsBuilderModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/ViewModelModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/ExampleFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/categoriesPage/CategoriesPageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/categoriesPage/CategoryAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/homepage/HomepageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/navigationtabs/CategoryTabContainer.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductDetailContentFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/ProductListFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/util/DialogManager.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/util/GeneralUtil.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/util/IDialogManager.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/util/LoadingDialog.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/CategoryViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Category.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/widgets/navigation_bar/navigation_bar_item/NavigationBarItem.kt
  android/Buyo/app/src/main/res/drawable/divider_drawable.xml
  android/Buyo/app/src/main/res/drawable/ic_down.xml
  android/Buyo/app/src/main/res/layout/fragment_categories.xml
  android/Buyo/app/src/main/res/layout/item_categories.xml
  android/Buyo/app/src/main/res/layout/layout_navigation_item.xml
  android/Buyo/app/src/main/res/layout/loading_dialog.xml
  android/Buyo/app/src/main/res/values/colors.xml
  android/Buyo/app/src/main/res/values/styles.xml
  android/Buyo/versions.gradle
Labels: Android-Logic

#165 Sign in redux setup
  web/src/pages/SignIn.css
  web/src/pages/SignIn.js
  web/src/pages/SignUp.js
  web/src/redux/actions/index.js
  web/src/redux/actions/types.js
  web/src/redux/reducers/index.js
  web/src/redux/reducers/signInReducer.js
Labels: Bug, Frontend, Priority: Critical, Status: Needs Review

#170 Web burak
  web/package-lock.json
  web/package.json
  web/src/App.js
  web/src/components/Comments.css
  web/src/components/Comments.js
  web/src/components/ProductDetailInfo.css
  web/src/components/ProductInfo.css
  web/src/components/ProductInfo.js
  web/src/components/ProductPurchase.css
  web/src/components/ProductPurchase.js
  web/src/components/WishlistButton.js
  web/src/pages/ProductDetails.css
  web/src/pages/ProductDetails.js
  web/src/pages/Wishlist.css
  web/src/pages/Wishlist.js
  web/src/services/products.js
  web/src/services/wishlist.js
Labels: Frontend

#180 Sign in/up backend connection and redirection
  web/package-lock.json
  web/package.json
  web/src/pages/SignIn.css
  web/src/pages/SignIn.js
  web/src/pages/SignUp.js
  web/src/redux/actions/index.js
  web/src/services/account.js
Labels: Frontend, Priority: Critical, Status: Needs Review
