Repository bounswe/bounswe2020group4, pull requests merged in 2020-12, with the labels that each got.

#239 Add category products page and setup redux persist
  web/package-lock.json
  web/package.json
  web/src/App.js
  web/src/index.js
  web/src/pages/CategoryProducts.css
  web/src/pages/CategoryProducts.js
  web/src/services/products.js
Labels: Frontend

#249 Vendor signup/login (with Google Maps)
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/MainActivity.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/shared_pref/ISharedPref.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/shared_pref/SharedPref.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/googlemap/MapsFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/LoginFragmentVendor.kt
  android/Buyo/app/src/main/res/layout/fragment_login_vendor.xml
  android/Buyo/app/src/main/res/layout/fragment_maps.xml
  android/Buyo/app/src/main/res/values/strings.xml
Labels: Android, Status: Needs Review

#241 Checkout + Connect header to Products Page
  web/src/App.js
  web/src/components/Header.css
  web/src/components/Header.js
  web/src/components/checkout/AddNewAddressPopup.css
  web/src/components/checkout/AddNewAddressPopup.js
  web/src/components/checkout/CheckoutAddressBlock.css
  web/src/components/checkout/CheckoutAddressBlock.js
  web/src/components/checkout/CheckoutSidebar.css
  web/src/components/checkout/CheckoutSidebar.js
  web/src/components/checkout/PaymentInfoBlock.js
  web/src/images/cross-icon.png
  web/src/images/white-plus-icon.png
  web/src/pages/Checkout.css
  web/src/pages/Checkout.js
Labels: Frontend

#261 (WEB) Google Maps for Vendor Signup
  web/.eslintrc.json
  web/package-lock.json
  web/package.json
  web/src/App.js
  web/src/components/Carousel.js
  web/src/components/CartProduct.js
  web/src/components/Comments.js
  web/src/components/GoogleMaps.css
  web/src/components/GoogleMaps.js
  web/src/components/Header.js
  web/src/components/ProductCard.js
  web/src/components/ProductDetailInfo.js
  web/src/components/ProductInfo.js
  web/src/components/ProductPurchase.js
  web/src/components/RatingStar.js
  web/src/components/WishlistButton.js
  web/src/components/checkout/AddNewAddressPopup.js
  web/src/components/checkout/CheckoutAddressBlock.js
  web/src/components/checkout/CheckoutSidebar.js
  web/src/components/checkout/PaymentInfoBlock.js
  web/src/images/map-marker.png
  web/src/index.js
  web/src/pages/Cart.js
  web/src/pages/CategoryProducts.js
  web/src/pages/Checkout.js
  web/src/pages/Homepage.js
  web/src/pages/ProductDetails.js
  web/src/pages/SignIn.js
  web/src/pages/SignUp.js
  web/src/pages/VendorSignIn.js
  web/src/pages/VendorSignUp.js
  web/src/pages/Wishlist.js
  web/src/redux/actions/index.js
  web/src/redux/actions/types.js
  web/src/redux/reducers/headerReducer.js
  web/src/redux/reducers/index.js
  web/src/redux/reducers/signInReducer.js
  web/src/services/account.js
  web/src/services/category.js
  web/src/services/products.js
  web/src/services/wishlist.js
  web/src/util/history.js
Labels: Frontend

#265 (WEB) Orders page and Add comment UI
  web/src/App.js
  web/src/components/OrderDetails.css
  web/src/components/OrderDetails.js
  web/src/pages/Orders.css
  web/src/pages/Orders.js
Labels: Frontend

#267 Android dev product detail
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductCommentsAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductDetailCommentsFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductDetailContentFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/ProductListAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Comment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Product.kt
  android/Buyo/app/src/main/res/drawable-anydpi/ic_add2cart.xml
  android/Buyo/app/src/main/res/drawable-anydpi/ic_product_disliked.xml
  android/Buyo/app/src/main/res/drawable-anydpi/ic_product_liked.xml
  android/Buyo/app/src/main/res/drawable-anydpi/ic_remove_from_cart.xml
  android/Buyo/app/src/main/res/drawable-hdpi/ic_add2cart.png
  android/Buyo/app/src/main/res/drawable-hdpi/ic_product_disliked.png
  android/Buyo/app/src/main/res/drawable-hdpi/ic_product_liked.png
  android/Buyo/app/src/main/res/drawable-hdpi/ic_remove_from_cart.png
  android/Buyo/app/src/main/res/drawable-mdpi/ic_add2cart.png
  android/Buyo/app/src/main/res/drawable-mdpi/ic_product_disliked.png
  android/Buyo/app/src/main/res/drawable-mdpi/ic_product_liked.png
  android/Buyo/app/src/main/res/drawable-mdpi/ic_remove_from_cart.png
  android/Buyo/app/src/main/res/drawable-xhdpi/ic_add2cart.png
  android/Buyo/app/src/main/res/drawable-xhdpi/ic_product_disliked.png
  android/Buyo/app/src/main/res/drawable-xhdpi/ic_product_liked.png
  android/Buyo/app/src/main/res/drawable-xhdpi/ic_remove_from_cart.png
  android/Buyo/app/src/main/res/drawable-xxhdpi/ic_add2cart.png
  android/Buyo/app/src/main/res/drawable-xxhdpi/ic_product_disliked.png
  android/Buyo/app/src/main/res/drawable-xxhdpi/ic_product_liked.png
  android/Buyo/app/src/main/res/drawable-xxhdpi/ic_remove_from_cart.png
  android/Buyo/app/src/main/res/layout/fragment_product_detail_comments.xml
  android/Buyo/app/src/main/res/layout/fragment_product_detail_content.xml
  android/Buyo/app/src/main/res/layout/item_product_comments_recycler_view.xml
  android/Buyo/app/src/main/res/layout/item_product_list_recycler_view.xml
Labels: Android, Android-Logic, Android-UI

#266 Customer profile information page and small fixes
  web/.eslintrc.json
  web/src/App.js
  web/src/components/CartProduct.css
  web/src/components/CartProduct.js
  web/src/components/customer-profile/ProfileInfo.css
  web/src/components/customer-profile/ProfileInfo.js
  web/src/components/customer-profile/UpdatePassword.js
  web/src/pages/Cart.js
  web/src/pages/CustomerProfile.css
  web/src/pages/CustomerProfile.js
  web/src/pages/SignIn.js
  web/src/pages/SignUp.js
  web/src/pages/VendorSignIn.js
  web/src/pages/VendorSignUp.js
Labels: Frontend

#264 (BKND)Vendor Signup Update
  backend/account_service/models/vendor.js
  backend/account_service/views/account.js
  backend/db_service/mock-product-data/vendors.json
  backend/db_service/models/vendor.js
  backend/nginx.conf
Labels: Backend

#244 Profile Info Endpoint implementation
  backend/account_service/models/customer.js
  backend/account_service/routes/account.js
  backend/account_service/views/account.js
  backend/nginx.conf
Labels: Backend, Coding, Effort: Medium, Priority: High

#284 Android Login Signup Updates
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/shared_pref/ISharedPref.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/shared_pref/SharedPref.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/FragmentsBuilderModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/googlemap/MapsFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/LegalDocFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/LoginFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/LoginFragmentVendor.kt
  android/Buyo/app/src/main/res/layout/fragment_legal_doc.xml
  android/Buyo/app/src/main/res/layout/fragment_login.xml
  android/Buyo/app/src/main/res/layout/fragment_login_vendor.xml
  android/Buyo/app/src/main/res/values/dimens.xml
  android/Buyo/app/src/main/res/values/strings.xml
Labels: Android, Status: Needs Review

#285 Product detail and product list bugs are fixed
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductDetailContentFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/ProductListAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/ProductListFragment.kt
Labels: Android, Android-Logic, Bug

#289 (WEB) UI for filtering and sorting
  web/package-lock.json
  web/package.json
  web/src/App.js
  web/src/components/OrderDetails.css
  web/src/components/OrderDetails.js
  web/src/components/RatingStar.js
  web/src/components/WishlistButton.js
  web/src/pages/Cart.js
  web/src/pages/CategoryProducts.css
  web/src/pages/CategoryProducts.js
  web/src/pages/Orders.js
  web/src/pages/ProductDetails.js
  web/src/pages/VendorSignUp.js
  web/src/pages/Wishlist.css
  web/src/pages/Wishlist.js
Labels: Frontend

#324 Profile page backend connection structure + bug fixes
  web/src/components/customer-profile/ProfileInfo.css
  web/src/components/customer-profile/ProfileInfo.js
  web/src/components/customer-profile/UpdatePassword.js
  web/src/pages/SignIn.css
  web/src/pages/SignIn.js
  web/src/pages/SignUp.js
  web/src/pages/VendorSignIn.js
  web/src/pages/VendorSignUp.js
  web/src/services/account.js
Labels: Effort: High, Frontend, Priority: High

#325 BKND - Add Mock Clothing Products
  backend/db_service/mock-product-data/clothing.json
  backend/db_service/mock-product-data/cosmetic.json
  backend/db_service/mock-product-data/electronic.json
Labels: Backend, Effort: Low, Priority: Critical, Status: In-Progress

#312 (BKND) - Upload Files and Add Products
  backend/docker-compose.yml
  backend/nginx.conf
  backend/vendor_service/Dockerfile
  backend/vendor_service/db/init.js
  backend/vendor_service/index.js
  backend/vendor_service/models/comment.js
  backend/vendor_service/models/customer.js
  backend/vendor_service/models/like.js
  backend/vendor_service/models/product.js
  backend/vendor_service/models/vendor.js
  backend/vendor_service/package.json
  backend/vendor_service/routes/vendor.js
  backend/vendor_service/tests/nearestVendor.spec.js
  backend/vendor_service/views/file.js
  backend/vendor_service/views/vendor.js
Labels: Backend, Coding, Effort: Medium, Priority: Medium, Status: In-Progress

#336 (bknd) create electronics category data
  backend/db_service/db/init.js
  backend/db_service/mock-product-data/clothing.json
  backend/db_service/mock-product-data/electronic.json
  backend/db_service/mock-product-data/electronics.json
Labels: Backend, Coding, Effort: High, Priority: High, Status: Completed

#313 (BKND) - Add documentation to the code
  backend/account_service/db/init.js
  backend/account_service/index.js
  backend/account_service/models/customer.js
  backend/account_service/routes/account.js
  backend/account_service/views/account.js
  backend/db_service/db/init.js
  backend/db_service/index.js
  backend/db_service/models/product.js
  backend/db_service/routes/db.js
  backend/interaction_service/db/init.js
  backend/interaction_service/index.js
  backend/interaction_service/models/comment.js
  backend/interaction_service/models/customer.js
  backend/interaction_service/models/like.js
  backend/interaction_service/models/product.js
  backend/interaction_service/routes/interaction.js
  backend/interaction_service/views/comment.js
  backend/interaction_service/views/like.js
  backend/product_service/index.js
  backend/product_service/models/comment.js
  backend/product_service/routes/product.js
  backend/product_service/views/product.js
  backend/product_service/views/wishlist.js
Labels: Backend, Type: Documentation

#339 BKND - Add name field to signup
  backend/account_service/views/account.js
Labels: Backend, Coding, Effort: Low, Priority: High, Status: Completed

#337 Change UpdateOrderStatus
  backend/checkout_service/views/order.js
Labels: Backend, Coding, Effort: Low, Priority: Medium, Status: Needs Review

#345 Android dev filtersort
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/FragmentsBuilderModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/AddCartAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/AddCartFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductCommentsAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductDetailContentFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/ListFilterAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/ListSortFilterFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/ProductListAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/ProductListFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/SearchViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Attribute.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/ParsedAttribute.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Product.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/ProductInfo.kt
  android/Buyo/app/src/main/res/layout/fragment_add_cart.xml
  android/Buyo/app/src/main/res/layout/fragment_product_list.xml
  android/Buyo/app/src/main/res/layout/fragment_product_list_filter_sort.xml
  android/Buyo/app/src/main/res/layout/item_product_comments_recycler_view.xml
  android/Buyo/app/src/main/res/layout/item_product_list_filter_sort_recycler_view.xml
  android/Buyo/app/src/main/res/values/strings.xml
Labels: Android

#348 (BKND) Add update delete address
  backend/account_service/models/customer.js
  backend/account_service/routes/account.js
  backend/account_service/views/account.js
  backend/checkout_service/models/customer.js
  backend/checkout_service/routes/checkout.js
  backend/checkout_service/views/customer.js
  backend/interaction_service/models/customer.js
Labels: Backend, Coding

#351 Android profile page
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/api/Api.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/ProfileRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/FragmentsBuilderModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/changePassword/ChangePasswordFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/LoginFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/LoginFragmentVendor.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/navigationtabs/ProfileTabContainer.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/AccountInfoFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/AddressInfoAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/AddressInfoFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/ChangePasswordFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/ProfilePageAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/ProfilePageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/wishList/WishListFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/ProfileInfoViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/ProfileViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Address.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/CustomerInformation.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/CustomerInformationResult.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/ProfilePageItem.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/UserInformationRequest.kt
  android/Buyo/app/src/main/res/layout/fragment_account.xml
  android/Buyo/app/src/main/res/layout/fragment_account_info.xml
  android/Buyo/app/src/main/res/layout/fragment_address_information.xml
  android/Buyo/app/src/main/res/layout/fragment_change_password.xml
  android/Buyo/app/src/main/res/layout/fragment_profile_page.xml
  android/Buyo/app/src/main/res/layout/item_address_info.xml
  android/Buyo/app/src/main/res/layout/item_profile_page.xml
  android/Buyo/app/src/main/res/values/strings.xml
Labels: Android, Android-Logic, Android-UI, Coding, Priority: Critical

#340 (WEB) Show Comments, Sorting backend connection, Change tab title
  web/src/App.js
  web/src/components/Comments.css
  web/src/components/Comments.js
  web/src/components/OrderDetails.js
  web/src/components/ProductDescription.css
  web/src/components/ProductDescription.js
  web/src/components/ProductDetailInfo.css
  web/src/components/ProductDetailInfo.js
  web/src/pages/CategoryProducts.css
  web/src/pages/CategoryProducts.js
  web/src/pages/ProductDetails.css
  web/src/pages/ProductDetails.js
  web/src/services/products.js
Labels: Frontend

#335 (WEB) Vendor sign in/up backend connection
  web/src/components/customer-profile/ProfileInfo.js
  web/src/pages/VendorSignIn.js
  web/src/pages/VendorSignUp.js
  web/src/services/account.js
Labels: Frontend

#355 Response of filtering structure is updated
  backend/product_service/views/product.js
Labels: Backend, Coding, Effort: Medium, Priority: Critical

#356 Bugfix: Fix the verification for credit card.
  backend/checkout_service/views/verification.js
Labels: Backend, Bug, Coding, Effort: Low, Priority: High, Status: Needs Review

#352 Web meric
  web/package-lock.json
  web/package.json
  web/src/App.css
  web/src/App.js
  web/src/components/Header.css
  web/src/components/ProductCard.js
  web/src/components/checkout/AddNewAddressPopup.js
  web/src/components/checkout/AddressBlock.js
  web/src/components/checkout/CheckoutSidebar.js
  web/src/components/checkout/PaymentInfoBlock.js
  web/src/pages/Checkout.js
  web/src/pages/CustomerAddresses.js
  web/src/services/account.js
Labels: Frontend

#362 (BKND) Return Product Attributes in Another Field
  backend/product_service/views/product.js
Labels: Backend, Effort: Medium, Priority: High, Status: Completed

#361 (BKND) Update account info update
  backend/account_service/models/customer.js
  backend/account_service/views/account.js
  backend/checkout_service/models/customer.js
  backend/interaction_service/models/customer.js
  backend/product_service/models/customer.js
Labels: Backend, Coding, Effort: Medium, Priority: High

#365 (WEB) Cart + profile + change password backend connections
  web/src/components/CartProduct.css
  web/src/components/CartProduct.js
  web/src/components/customer-profile/ProfileInfo.js
  web/src/components/customer-profile/UpdatePassword.js
  web/src/pages/Cart.css
  web/src/pages/Cart.js
  web/src/pages/VendorSignUp.js
  web/src/services/account.js
  web/src/services/cart.js
Labels: Frontend, Priority: Critical

#367 (WEB) Filtering, Orders page, Add to Cart Backend connections
  web/public/favicon.ico
  web/src/components/OrderDetails.css
  web/src/components/OrderDetails.js
  web/src/components/ProductPurchase.css
  web/src/components/ProductPurchase.js
  web/src/components/RatingStar.js
  web/src/pages/CategoryProducts.css
  web/src/pages/CategoryProducts.js
  web/src/pages/Orders.js
  web/src/pages/ProductDetails.js
  web/src/services/account.js
  web/src/services/cart.js
  web/src/services/orders.js
  web/src/services/products.js
  web/src/util/history.js
Labels: Frontend

#371 Android My Orders Page
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/api/Api.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/OrderRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/ViewModelModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/homepage/ProductAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/orderpage/OrderAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/orderpage/OrderPageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/OrderViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Order.kt
  android/Buyo/app/src/main/res/layout/fragment_order_page.xml
  android/Buyo/app/src/main/res/layout/item_orders.xml
Labels: Android, Status: Needs Review

#370 Android profile page updates
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/api/Api.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/ProfileRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/FragmentsBuilderModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/cart/CheckoutPageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/changePassword/ChangePasswordFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/AccountInfoFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/AddUpdateAddressFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/AddressInfoAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/AddressInfoFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/ChangePasswordFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/ProfileViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/ChangePasswordRequest.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/CustomerInformation.kt
  android/Buyo/app/src/main/res/layout/fragment_account.xml
  android/Buyo/app/src/main/res/layout/fragment_account_info.xml
  android/Buyo/app/src/main/res/layout/fragment_change_password.xml
  android/Buyo/app/src/main/res/layout/item_address_info.xml
  android/Buyo/app/src/main/res/values/strings.xml
Labels: Android, Android-Logic, Android-UI, Priority: Critical, Status: Needs Review

#369 Android dev filter api
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/api/Api.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/CartRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/ProductRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/SearchRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/cart/CartAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/cart/CartPageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/homepage/HomepageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/homepage/ProductAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/orderpage/OrderPageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/AddCartAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/AddCartFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductCommentsAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductDetailCommentsFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductDetailContentFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/ListFilterAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/ListSortFilterFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/ProductListAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productList/ProductListFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/wishList/WishListAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/CartViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/SearchViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/AddCartInfo.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/AddCartRequest.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Attribute.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Comment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/CommentOwner.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/FilterCriterias.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Order.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Product.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/ProductList.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/RemoveCartInfo.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/RemoveCartRequest.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/SearchCategoryRequest.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/SearchKeywordRequest.kt
  android/Buyo/app/src/main/res/layout/fragment_add_cart.xml
  android/Buyo/app/src/main/res/layout/item_add_cart_combination_recycler_view.xml
Labels: Android, Effort: High, Priority: Critical, Status: Completed

#376 (WEB) Popup after product is added to cart
  web/src/components/ProductPurchase.js
Labels: Frontend

#374 (bknd) products are not sorted by price #366
  backend/product_service/views/product.js
Labels: Backend, Coding, Effort: Low, Priority: Low, Status: Needs Review

#368 Bugfix: Send the delivery date for ordered product, instead of order date.
  backend/checkout_service/views/order.js
Labels: Backend, Bug, Coding, Effort: Low, Priority: High, Status: Needs Review

#383 (WEB) Checkout page backend connection
  web/src/components/checkout/CheckoutSidebar.js
  web/src/pages/Checkout.js
  web/src/services/orders.js
Labels: Frontend, Priority: Critical

#382 Implement account-info-save api connection, fix address info page bug
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/api/Api.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/ProfileRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/AccountInfoFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/AddressInfoAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/AddressInfoFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/ProfileInfoViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/ProfileViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/AccountInfoRequest.kt
  android/Buyo/app/src/main/res/layout/fragment_account_info.xml
  android/Buyo/app/src/main/res/layout/item_address_info.xml
Labels: Android, Android-Logic, Priority: Critical, Status: Needs Review

#386 Android dev bug fix
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/cart/CheckoutPageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/AddressInfoFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/CheckoutResponse.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/CreditCard.kt
  android/Buyo/app/src/main/res/layout/fragment_checkout.xml
  android/Buyo/app/src/main/res/values/strings.xml
Labels: Android
