Repository bounswe/bounswe2020group4, pull requests merged in 2021-01, with the labels that each got.

#392 Tests for product api #391
  backend/product_service/tests/product.spec.js
Labels: Backend, Coding, Effort: Medium, Priority: Medium, Status: Needs Review

#393 Add unit tests for the cart view.
  backend/product_service/tests/cart.spec.js
Labels: Backend, Coding, Priority: High, Status: Needs Review

#394 Unit Tests for Interaction Service
  backend/interaction_service/constants/error.js
  backend/interaction_service/routes/interaction.js
  backend/interaction_service/tests/comment.spec.js
  backend/interaction_service/tests/like.spec.js
  backend/interaction_service/views/comment.js
  backend/interaction_service/views/like.js
  backend/vendor_service/.gitignore
Labels: Backend, Coding, Priority: High

#410 (WEB) Messaging UI, Report Comment and Product
  web/src/App.js
  web/src/components/Comments.css
  web/src/components/Comments.js
  web/src/components/RatingStar.css
  web/src/components/product/Comments.css
  web/src/components/product/Comments.js
  web/src/components/product/ProductDescription.css
  web/src/components/product/ProductDescription.js
  web/src/components/product/ProductInfo.css
  web/src/components/product/ProductInfo.js
  web/src/components/product/ProductPurchase.css
  web/src/components/product/ProductPurchase.js
  web/src/components/product/WishlistButton.js
  web/src/pages/CategoryProducts.js
  web/src/pages/Messages.css
  web/src/pages/Messages.js
  web/src/pages/ProductDetails.js
Labels: Frontend

#414 (WEB) Added cursor:pointer class to categories/subcategories
  web/src/components/Header.js
Labels: Frontend, Priority: Low

#408 (bknd) vendor product management select, filter and sort #318
  backend/product_service/views/product.js
  backend/vendor_service/constants/error.js
  backend/vendor_service/routes/vendor.js
  backend/vendor_service/views/vendor.js
Labels: Backend, Coding, Effort: Medium, Priority: High, Status: Needs Review

#416 (WEB) Added sign out functionality (+ minor bug fix)
  web/src/components/Header.js
  web/src/redux/actions/index.js
  web/src/redux/actions/types.js
  web/src/redux/reducers/signInReducer.js
Labels: Effort: Medium, Frontend, Priority: Medium

#423 (WEB) Vendor products and add product pages UI
  admin/src/App.css
  admin/src/App.js
  admin/src/components/Header.js
  admin/src/components/Homepage.js
  admin/src/components/LoginPage.js
  admin/src/components/reportedComments/ReportedCommentCard.js
  admin/src/components/reportedComments/index.js
  admin/src/components/reportedProducts/ReportedProductCard.js
  admin/src/components/reportedProducts/index.js
  admin/src/services.js
  web/package-lock.json
  web/package.json
  web/src/App.css
  web/src/App.js
  web/src/components/Comments.css
  web/src/components/Comments.js
  web/src/components/RatingStar.css
  web/src/components/VendorHeader.css
  web/src/components/VendorHeader.js
  web/src/components/VendorProductCard.js
  web/src/components/product/Comments.css
  web/src/components/product/Comments.js
  web/src/components/product/ProductDescription.css
  web/src/components/product/ProductDescription.js
  web/src/components/product/ProductInfo.css
  web/src/components/product/ProductInfo.js
  web/src/components/product/ProductPurchase.css
  web/src/components/product/ProductPurchase.js
  web/src/components/product/WishlistButton.js
  web/src/pages/AddProduct.css
  web/src/pages/AddProduct.js
  web/src/pages/CategoryProducts.js
  web/src/pages/Messages.css
  web/src/pages/Messages.js
  web/src/pages/ProductDetails.js
  web/src/pages/VendorProducts.css
  web/src/pages/VendorProducts.js
  web/src/pages/VendorSignIn.js
  web/src/pages/VendorSignUp.js
  web/src/redux/actions/index.js
  web/src/redux/actions/types.js
  web/src/redux/reducers/headerReducer.js
Labels: Frontend

#413 (BKND) Socket Messaging
  backend/account_service/constants/error.js
  backend/checkout_service/constants/error.js
  backend/docker-compose.yml
  backend/interaction_service/constants/error.js
  backend/interaction_service/index.js
  backend/interaction_service/models/admin.js
  backend/interaction_service/models/message.js
  backend/interaction_service/package.json
  backend/interaction_service/routes/interaction.js
  backend/interaction_service/utils/socket.js
  backend/interaction_service/views/message.js
  backend/nginx.conf
  backend/product_service/constants/error.js
  backend/vendor_service/constants/error.js
Labels: Backend, Coding, Effort: High, Priority: High, Status: In-Progress, Task: Assignment

#446 (bknd) vendor product management update #319
  backend/account_service/constants/error.js
  backend/vendor_service/routes/vendor.js
  backend/vendor_service/views/vendor.js
Labels: Backend, Effort: High, Effort: Medium, Priority: High

#450 Android dev vendor products
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/api/Api.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/ProductRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/FragmentsBuilderModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/homepage/HomepageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductCommentReportFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductCommentsAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductDetailCommentsFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductDetailContentFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendor/AddProductAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendor/AddProductCategoryAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendor/AddProductCategoryFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendor/AddProductFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendor/AddStockValuesAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendor/AddStockValuesFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendor/VendorProductListAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendor/VendorProductListFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/ProductViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Product.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/ProductInfo.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/ReportRequest.kt
  android/Buyo/app/src/main/res/drawable-anydpi/ic_edit_product.xml
  android/Buyo/app/src/main/res/drawable-hdpi/ic_edit_product.png
  android/Buyo/app/src/main/res/drawable-mdpi/ic_edit_product.png
  android/Buyo/app/src/main/res/drawable-xhdpi/ic_edit_product.png
  android/Buyo/app/src/main/res/drawable-xxhdpi/ic_edit_product.png
  android/Buyo/app/src/main/res/layout/fragment_product_detail_content.xml
  android/Buyo/app/src/main/res/layout/fragment_report_comment.xml
  android/Buyo/app/src/main/res/layout/fragment_vendor_add_product.xml
  android/Buyo/app/src/main/res/layout/fragment_vendor_add_product_categories.xml
  android/Buyo/app/src/main/res/layout/fragment_vendor_add_stock_value.xml
  android/Buyo/app/src/main/res/layout/fragment_vendor_product_list.xml
  android/Buyo/app/src/main/res/layout/item_vendor_add_product_attributes_recycler_view.xml
  android/Buyo/app/src/main/res/layout/item_vendor_add_product_categories.xml
  android/Buyo/app/src/main/res/layout/item_vendor_add_stock_value.xml
  android/Buyo/app/src/main/res/layout/item_vendor_product_list.xml
Labels: Android, Android-Logic, Android-UI

#454 (NAD) Choosing image from the gallery
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/FragmentsBuilderModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/image_utils/ImageUploadFragment.kt
  android/Buyo/app/src/main/res/layout/fragment_image_upload.xml
Labels: Android

#458 Vendor get product function's parameter structure is working by using…
  backend/product_service/views/product.js
  backend/vendor_service/routes/vendor.js
  backend/vendor_service/views/vendor.js
Labels: Backend, Effort: Medium, Priority: High, Status: Completed

#457 Add back button functionality to fix the bug
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendor/VendorProductListFragment.kt
Labels: Android, Android-Logic, Bug, Priority: High, Status: Needs Review

#463 (BKND) fix minor bug causing duplicate users in last messages endpoint
  backend/interaction_service/views/message.js
Labels: Backend, Bug, Coding, Effort: Low, Priority: High, Status: Needs Review

#462 Add Google Sign-in Feature
  backend/account_service/constants/error.js
  backend/account_service/models/customer.js
  backend/account_service/routes/account.js
  backend/account_service/views/account.js
  backend/checkout_service/models/customer.js
  backend/db_service/models/customer.js
  backend/interaction_service/models/customer.js
  backend/product_service/models/customer.js
  backend/vendor_service/models/customer.js
Labels: Backend, Coding, Effort: High, Priority: High, Status: Needs Review

#461 (BKND) add userids to comments, vendorids to vendor objects
  backend/account_service/constants/error.js
  backend/product_service/views/product.js
  backend/product_service/views/wishlist.js
Labels: Backend, Coding, Effort: Low, Priority: High, Status: Needs Review

#469 (BKND) Report comment, report product
  backend/admin_service/.gitignore
  backend/admin_service/Dockerfile
  backend/admin_service/constants/error.js
  backend/admin_service/db/init.js
  backend/admin_service/index.js
  backend/admin_service/models/comment.js
  backend/admin_service/models/commentReport.js
  backend/admin_service/models/product.js
  backend/admin_service/models/productReport.js
  backend/admin_service/models/vendor.js
  backend/admin_service/package.json
  backend/admin_service/routes/admin.js
  backend/admin_service/views/report.js
  backend/docker-compose.yml
  backend/nginx.conf
Labels: Backend, Coding, Effort: High, Priority: High

#467 (BKND) Recommendations: alsoBought and alsoLiked
  backend/product_service/models/ordered_product.js
  backend/product_service/routes/product.js
  backend/product_service/views/recommendation.js
Labels: Backend, Coding, Effort: High, Priority: High, Status: Needs Review, Task: Assignment

#470 (BKND) Email verification forgot password
  backend/account_service/models/customer.js
  backend/account_service/models/vendor.js
  backend/account_service/package.json
  backend/account_service/routes/account.js
  backend/account_service/views/account.js
  backend/nginx.conf
Labels: Backend, Effort: High, Priority: High

#476 (AND) Logo addition to profile pages
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/ProfilePageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendorProfilePage/VendorProfilePageFragment.kt
  android/Buyo/app/src/main/res/layout/fragment_profile_page.xml
  android/Buyo/app/src/main/res/layout/fragment_vendor_profile_page.xml
  android/Buyo/app/src/main/res/mipmap-xhdpi/account.png
  android/Buyo/app/src/main/res/mipmap-xhdpi/add.png
  android/Buyo/app/src/main/res/mipmap-xhdpi/address.png
  android/Buyo/app/src/main/res/mipmap-xhdpi/logout.png
  android/Buyo/app/src/main/res/mipmap-xhdpi/message.png
  android/Buyo/app/src/main/res/mipmap-xhdpi/notification.png
  android/Buyo/app/src/main/res/mipmap-xhdpi/order.png
  android/Buyo/app/src/main/res/mipmap-xhdpi/password.png
  android/Buyo/app/src/main/res/mipmap-xhdpi/product.png
Labels: Android, Android-UI, Priority: High, Status: Needs Review

#475 Update ProductInfos to string in the code, add product status update functionality.
  backend/checkout_service/constants/error.js
  backend/checkout_service/models/cart_products.js
  backend/checkout_service/models/ordered_product.js
  backend/checkout_service/routes/checkout.js
  backend/checkout_service/views/order.js
  backend/product_service/models/cart_products.js
  backend/product_service/models/ordered_product.js
  backend/product_service/views/cart.js
Labels: Backend, Coding, Effort: High, Priority: Critical, Status: Needs Review

#479 BKND - Adapting stock info changes in checkout, cart and order
  backend/product_service/views/cart.js
Labels: Backend, Bug, Coding, Effort: Medium, Group Work, Priority: Critical, Status: Needs Review, Task: Assignment

#474 (WEB) Notifications Page + Email Verification + Password Reset
  web/src/App.js
  web/src/components/Header.js
  web/src/components/VendorHeader.css
  web/src/components/VendorHeader.js
  web/src/pages/ForgotPassword.js
  web/src/pages/Notification.css
  web/src/pages/Notification.js
  web/src/pages/ResetPassword.js
  web/src/pages/SignIn.css
  web/src/pages/SignIn.js
  web/src/pages/VendorSignIn.js
  web/src/pages/Verification.css
  web/src/pages/Verification.js
  web/src/services/account.js
  web/src/services/notifications.js
Labels: Effort: High, Frontend, Priority: High

#489 BKND - Add additional data to messages, implement notifications
  backend/checkout_service/models/notification.js
  backend/checkout_service/views/order.js
  backend/interaction_service/models/notification.js
  backend/interaction_service/routes/interaction.js
  backend/interaction_service/tests/notification.spec.js
  backend/interaction_service/utils/socket.js
  backend/interaction_service/views/notification.js
  backend/nginx.conf
  backend/vendor_service/models/notification.js
  backend/vendor_service/routes/vendor.js
  backend/vendor_service/views/vendor.js
Labels: Backend, Coding, Effort: High, Priority: High, Status: Needs Review, Task: Assignment

#488 Change productId to _id in update product status.
  backend/checkout_service/views/order.js
Labels: Backend, Bug, Coding, Effort: Low, Priority: Critical, Status: Needs Review

#491 Add name check to google signin.
  backend/account_service/views/account.js
Labels: Backend, Bug, Coding, Effort: Low, Priority: High, Status: Needs Review

#496 Admin ban vendor & customer , unban vendor & customer #492
  backend/account_service/routes/account.js
  backend/account_service/views/account.js
  backend/admin_service/models/customer.js
  backend/admin_service/models/vendor.js
  backend/admin_service/routes/admin.js
  backend/admin_service/views/ban.js
  backend/db_service/mock-product-data/vendors.json
  backend/nginx.conf
Labels: Backend, Coding, Effort: Medium, Priority: High, Status: Needs Review

#494 (BKND) Get products and get orders bug
  backend/checkout_service/views/order.js
  backend/product_service/views/product.js
Labels: Backend, Bug, Coding, Priority: Critical, Priority: Low, Status: Needs Review

#495 Add Semantic Search, Add Status Checks for manually changed product status, Make Customers Signed in using Google verified.
  backend/account_service/views/account.js
  backend/checkout_service/views/order.js
  backend/nginx.conf
  backend/product_service/models/product.js
  backend/product_service/routes/product.js
  backend/product_service/views/product.js
Labels: Backend, Bug, Coding, Effort: Medium, Priority: High, Status: Needs Review

#497 Description is added to vendor service model
  backend/vendor_service/models/product.js
Labels: Backend, Bug, Effort: Low, Priority: Critical

#500 Move the semantic search to the getProducts function.
  backend/product_service/routes/product.js
  backend/product_service/views/product.js
Labels: Backend, Coding, Effort: Low, Priority: Critical, Status: Needs Review

#493 (WEB) Socket messaging for customers, Report product/comment
  web/package-lock.json
  web/package.json
  web/src/components/Header.js
  web/src/components/OrderDetails.css
  web/src/components/OrderDetails.js
  web/src/components/ProductCard.js
  web/src/components/RatingStar.js
  web/src/components/VendorHeader.js
  web/src/components/product/Comments.js
  web/src/components/product/ProductInfo.js
  web/src/components/product/WishlistButton.js
  web/src/pages/Messages.js
  web/src/pages/Orders.css
  web/src/pages/Orders.js
  web/src/pages/ProductDetails.js
  web/src/pages/Wishlist.css
  web/src/pages/Wishlist.js
  web/src/services/messages.js
  web/src/services/orders.js
  web/src/services/report.js
Labels: Frontend

#508 Vendor : update whole product function is written
  backend/vendor_service/routes/vendor.js
  backend/vendor_service/views/vendor.js
Labels: Backend, Effort: Medium, Priority: High, Status: Completed

#510 (AND) Fix Address Name and Phone Bug
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/AddressInfoAdapter.kt
Labels: Android, Bug, Priority: Critical, Status: Needs Review

#499 (AND) Android order, notification, recommendation endpoints and address bug
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/api/Api.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/api/NetworkServiceWrapper.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/NotificationRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/OrderRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/ProfileRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/SearchRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/FragmentsBuilderModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/ViewModelModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/homepage/HomepageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/LoginFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/LoginFragmentVendor.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/notification/NotificationFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/orderpage/OrderAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/orderpage/OrderAdapterVendor.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/orderpage/OrderPageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/orderpage/OrderPageFragmentVendor.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/orderpage/endpoint_framents/UpdateStatusFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/ProfilePageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/NotificationViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/OrderViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/ProfileViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/SearchViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/LoginSignupRequest.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Notification.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Order.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/ProductResponse.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/Vendor.kt
  android/Buyo/app/src/main/res/layout/fragment_update_status.xml
  android/Buyo/app/src/main/res/layout/item_orders.xml
  android/Buyo/app/src/main/res/layout/item_orders_vendor.xml
  android/Buyo/app/src/main/res/values/strings.xml
Labels: Android, Priority: Critical, Status: Needs Review

#503 (AND) Forgot Password
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/api/Api.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/ProfileRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/FragmentsBuilderModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/CustomerResetPasswordFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/LoginFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/LoginFragmentVendor.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/VendorResetPasswordFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/ProfileViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/LoginSignupRequest.kt
  android/Buyo/app/src/main/res/layout/fragment_reset_password.xml
  android/Buyo/app/src/main/res/values/strings.xml
Labels: Android, Priority: Critical, Status: Needs Review

#514 (AND) Google Sign In
  android/Buyo/app/build.gradle
  android/Buyo/app/credentials.json
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/api/Api.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/ProfileRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/shared_pref/ISharedPref.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/shared_pref/SharedPref.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/LoginFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/login/LoginFragmentVendor.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/AccountInfoFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/profilePage/ProfilePageFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/ProfileViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/LoginSignupRequest.kt
  android/Buyo/app/src/main/res/layout/fragment_login.xml
Labels: Android, Priority: Critical, Status: Needs Review

#504 (WEB) Backend connections
  web/src/components/VendorProductCard.js
  web/src/pages/AddProduct.js
  web/src/pages/UpdateProduct.js
  web/src/pages/VendorProducts.js
  web/src/services/vendor.js
Labels: Frontend

#520 (Web) Fixed verification backend integration + minor changes
  web/src/pages/Notification.js
  web/src/pages/SignIn.js
  web/src/pages/VendorOrders.css
  web/src/pages/VendorOrders.js
  web/src/pages/VendorProfile.js
  web/src/pages/VendorSignIn.js
  web/src/services/account.js
Labels: Effort: Medium, Frontend, Priority: Critical

#517 (BKND) Admin send banned email
  backend/admin_service/package.json
  backend/admin_service/views/ban.js
Labels: Backend, Coding, Effort: Medium, Priority: Critical

#511 BKND - make vendor rating 0 by default, to prevent rating bug
  backend/account_service/views/account.js
  backend/interaction_service/utils/socket.js
  backend/interaction_service/views/message.js
  backend/product_service/views/recommendation.js
  backend/product_service/views/wishlist.js
Labels: Backend, Bug, Coding, Effort: Low, Priority: High, Status: Needs Review, Task: Assignment

#523 BKND - Notification bug
  backend/checkout_service/models/notification.js
  backend/checkout_service/views/order.js
  backend/interaction_service/models/notification.js
  backend/interaction_service/views/notification.js
  backend/vendor_service/views/vendor.js
Labels: Backend, Bug, Coding, Effort: Low, Priority: Critical, Status: Needs Review, Task: Assignment

#525 Async structure of function is correctedand productInfos returning value is corrected
  backend/admin_service/views/report.js
Labels: Backend, Bug, Effort: Low, Priority: High

#526 BKND - add non real-time send message endpoint
  backend/interaction_service/routes/interaction.js
  backend/interaction_service/views/message.js
Labels: Backend, Coding, Effort: Medium, Priority: High, Status: Needs Review, Task: Assignment

#524 (WEB) Return product button, bug fixes
  web/src/components/OrderDetails.js
  web/src/components/product/ProductInfo.js
  web/src/pages/CategoryProducts.js
  web/src/pages/Messages.js
  web/src/pages/Orders.css
  web/src/pages/Orders.js
  web/src/pages/ProductDetails.css
  web/src/pages/ProductDetails.js
  web/src/services/messages.js
  web/src/services/orders.js
  web/src/services/products.js
Labels: Frontend

#529 add product and delete product end point connections are implemented
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/api/Api.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/datamanager/repositories/VendorRepository.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/dependencyinjection/FragmentsBuilderModule.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/productDetail/ProductDetailContentFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendor/AddProductFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendor/AddStockValuesFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendor/DeleteProductFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendor/VendorProductListAdapter.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/ui/vendor/VendorProductListFragment.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/viewmodel/VendorViewModel.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/DeleteProductEndpoint.kt
  android/Buyo/app/src/main/java/com/cmpe352group4/buyo/vo/DeleteProductRequest.kt
  android/Buyo/app/src/main/res/drawable-anydpi/ic_delete_product.xml
  android/Buyo/app/src/main/res/drawable-hdpi/ic_delete_product.png
  android/Buyo/app/src/main/res/drawable-mdpi/ic_delete_product.png
  android/Buyo/app/src/main/res/drawable-xhdpi/ic_delete_product.png
  android/Buyo/app/src/main/res/drawable-xxhdpi/ic_delete_product.png
  android/Buyo/app/src/main/res/layout/fragment_delete_product.xml
  android/Buyo/app/src/main/res/layout/item_vendor_product_list.xml
Labels: Android, Android-Logic, Android-UI

#531 (WEB) Backend minor api call change
  web/src/services/vendor.js
Labels: Frontend

#530 (WEB) Fixes to Vendor Orders
  web/src/components/VendorOrderDetails.js
  web/src/pages/VendorOrders.js
  web/src/services/notifications.js
Labels: Effort: High, Frontend, Priority: Critical

#546 (WEB) Cancel Order fix (added l)
  web/src/components/OrderDetails.js
  web/src/components/VendorOrderDetails.js
Labels: Effort: Low, Frontend, Priority: Critical

#553 add tests for messages, fix syntax errors in comment and like tests
  backend/interaction_service/package.json
  backend/interaction_service/tests/comment.spec.js
  backend/interaction_service/tests/like.spec.js
  backend/interaction_service/tests/message.spec.js
  backend/run_tests.sh
Labels: Backend, Bug, Coding, Effort: Medium, Priority: Medium, Status: Needs Review, Task: Assignment

#552 Fix messaging and stock value bug, eslint fixes
  web/src/components/OrderDetails.js
  web/src/components/product/ProductInfo.js
  web/src/components/product/ProductPurchase.js
  web/src/pages/Messages.js
Labels: Frontend

#556 Add some documentation to order and account services, test for Google SignIn.
  backend/account_service/tests/account.spec.js
  backend/account_service/views/account.js
  backend/checkout_service/views/order.js
  backend/checkout_service/views/verification.js
Labels: Backend, Coding, Effort: Low, Priority: High, Status: Needs Review, Type: Documentation

#559 (BKND) Unit tests & Documentation
  backend/account_service/routes/account.js
  backend/account_service/tests/account.spec.js
  backend/account_service/views/account.js
  backend/admin_service/package.json
  backend/admin_service/tests/report.spec.js
  backend/admin_service/views/report.js
  backend/interaction_service/tests/comment.spec.js
  backend/interaction_service/tests/like.spec.js
  backend/product_service/package.json
Labels: Backend, Coding, Effort: Medium
